name: Node.js Package

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      CI: true
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - name: Ensure npm token exists
        run: |
          if [ -z "${NODE_AUTH_TOKEN}" ]; then
            echo "NPM_AUTH_TOKEN is not configured."
            exit 1
          fi
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: "22.x"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
          always-auth: true
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        with:
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm check
      - run: npm publish --provenance
